.App {
    height: 100%;
    display: grid;
    overflow-y: hidden;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto 1fr;
    /* prettier-ignore */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    grid-template-areas:
      'header   header'
      'employeesBar  content'
      ;
  }


  
  @media (max-width: 64em) {
    .App {
      grid-template-rows: auto auto 1fr;
      /* prettier-ignore */
      grid-template-areas:
        'header   header'
        'sidebar  sidebar'
        'content  content';
    }
  }
  
  .App-header {
    grid-area: header;
  }
  
  .App-employeesBar {
    grid-area: employeesBar;
    background:  #034f84;
  }
    
  .App-content {
    grid-area: content;
    overflow: auto;
  }
  
  .App-footer {
    grid-area: footer;
  }

  .LoginForm{
    background-color:#f0f0f0;
  }